html {
    color: black;
    background-color: white;
    font-family: 'Bitter', serif;
    font-size: 14px;
    max-width: calc(800px - (30px * 2));
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}