html {
    color: whitesmoke;
    background-color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

.sidebar {
    position: fixed;
    font-size: 18px;
    top: 10px;
    left: 15px;
}

.lastup {
    position: fixed;
    font-size: 12px;
    top: 0px;
    right: 15px;
}

a:link {
    text-decoration: none;
}

.content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    line-height: 4px;
}